#general
.o
.exe
.dll
.so
.a

.obsidian

#build file
bin/*
bin/
lib/*
lib/
tmp/
builder*
builder.exe
.vs/*

#project tasks and launch configurations for visual studio
!.vs/*.vs.json

#project export files
AvGraphicsUtilities/


/builder.exe
