#general
.o
.exe
.dll
.so
.a

#obsidian
.obsidian

#build file
bin/*
bin/
lib/*
lib/
tmp/
builder*
builder.exe
.vs/*
!build/builder.c
!build/builder.h

#project tasks and launch configurations for visual studio
!.vs/*.vs.json
.obsidian

CppProperties.json

#project export files
avixel/
Avixel
!include/Avixel
shaders/include
shaders/compiled

